// @vars
// SYNFRASTRUCTURE SETTINGS
//
@import "foundation/functions";

$include-component-classes : false !default;

// This is the default html and body font-size for the base rem value.
$rem-base : 16px !default;

// Font-size base
$font-size-base : rem-calc(16) !default;

// Base line height
$line-height-base : 1.5 !default;

// Use legacy grid?
$legacy-grid : false !default;

@if ($legacy-grid) {
    // Legacy Grid Settings
    $row-width     : rem-calc(1280) !default;
    $column-gutter : rem-calc(20)   !default;
    $total-columns : 12             !default;

    // Media Query Ranges
    $small-range   : (0, 30em)        !default; // 0px to 480px
    $medium-range  : (30.063em, 48em) !default; // 481px to 768px
    $large-range   : (48.063em, 64em) !default; // 769px to 1024px
    $xlarge-range  : (64.063em, 90em) !default; //1025px to 1440px
    $xxlarge-range : (90.063em)       !default; //1441 px and up
} @else {
    // Flexbox Grid Settings
    $column-count    : 12 !default;
    $column-selector : '.' !default;
    $offset-modifier : 'offset' !default;

    $gutter-width        : 1rem !default;
    $outer-margin        : 2rem !default;
    $gutter-compensation : (($gutter-width / 2) * -1) !default;
    $half-gutter-width   : ($gutter-width / 2) !default;

    $width-xs : 30 !default;
    $width-sm : 48 !default;
    $width-md : 62 !default;
    $width-lg : 75 !default;

    $viewport-xs : #{$width-xs}em !default;
    $viewport-sm : #{$width-sm}em !default;
    $viewport-md : #{$width-md}em !default;
    $viewport-lg : #{$width-lg}em !default;

    $container-sm : #{$width-sm}rem + $gutter-width !default;
    $container-md : #{$width-md}rem + $gutter-width !default;
    $container-lg : #{$width-lg}rem + $gutter-width !default;

    $xs : 'xsmall' !default;
    $sm : 'small'  !default;
    $md : 'medium' !default;
    $lg : 'large'  !default;

    // Removed to match 'size-x' syntax
    $block-delimiter    : '' !default;
    $element-delimiter  : '-' !default;
    $modifier-delimiter : '-' !default;

    $defaultQuery : $viewport-xs !default;

    $sizes : #{$xs}, #{$sm}, #{$md}, #{$lg} !default;

    $queries : (
        #{$xs} : #{$viewport-xs},
        #{$sm} : #{$viewport-sm},
        #{$md} : #{$viewport-md},
        #{$lg} : #{$viewport-lg}
    ) !default;

    $column-properties : 'flex-basis', 'max-width' !default;
    $offset-properties : 'margin-left' !default;
}

// Margin utility helpers
$max-margin-spacing        : 30 !default; // Ex: max l--m-30
$margin-spacing-threshhold : 3  !default; // Ex: l--m-0, l--m-3, l--m-6

// Padding utility helpers
$max-padding-spacing        : 30 !default; // Ex: max l--p-30
$padding-spacing-threshhold : 3  !default; // Ex: l--p-0, l--p-3, l--p-6

// Color vars
$white     : #fff    !default;
$black     : #000    !default;
$syn-color : #25c0d7 !default;

