// **************************************************
// **************************************************

    // Simple Animation Utilities

// **************************************************
// **************************************************

@keyframes slide-up {
    0% {
        transform : translateY(rem-calc(100px));
    }

    100% {
        transform : translateY(0);
    }
}

@keyframes slide-in-left {
    0% {
        opacity : 0;
        left    : 200px;
    }

    100% {
        opacity : 1;
        left    : 0;
    }
}

@keyframes slide-in-right {
    0% {
        opacity : 0;
        right   : 200px;
    }

    100% {
        opacity : 1;
        right   : 0;
    }
}

@keyframes slide-in-bounce {
    0% {
        opacity   : 0;
        transform : translateX(100px);
    }

    100% {
        opacity   : 1;
        transform : translateX(0);
    }

}

@keyframes appear {
    0% {
        opacity : 0;
    }

    100% {
        opacity : 1;
    }
}

@keyframes tick-in {
    0% {
        transform : translateY(rem-calc(-100));
    }

    100% {
        transform : translateY(0);
    }
}

.a--slide-up {
    animation           : 300ms slide-up $ease-out-quad;
    animation-fill-mode : forwards;
}

.a--slide-in-left {
    animation           : 300ms slide-in-left $ease-in-out-quad;
    animation-fill-mode : forwards;
}

.a--slide-in-right {
    animation           : 300ms slide-in-right $ease-in-out-quad;
    animation-fill-mode : forwards;
}

.a--slide-in-bounce {
    animation           : slide-in-bounce 300ms $ease-in-out-back;
    animation-fill-mode : forwards;
}

.a--appear {
    animation           : 300ms appear $ease-in-out-quad;
    animation-fill-mode : forwards;
}

.a--tick-in {
    animation           : 300ms tick-in $ease-in-out-quad;
    animation-fill-mode : forwards;
}
