// https://dvcs.w3.org/hg/FXTF/raw-file/tip/filters/index.html
//
// grayscale      ex: filter: grayscale(100%);
// sepia          ex: filter: sepia(100%);
// saturate       ex: filter: saturate(0%);
// hue-rotate     ex: filter: hue-rotate(45deg);
// invert         ex: filter: invert(100%);
// brightness     ex: filter: brightness(15%);
// contrast       ex: filter: contrast(200%);
// blur           ex: filter: blur(2px);
@mixin filter($filter-type, $filter-amount) {
    filter : $filter-type+unquote('(#{$filter-amount})');
}

/// Absolutely position element
/// @param {position} $center, $middle, $vertical-middle
@mixin absolute($position) {

    @if $position == center {
        position      : absolute;
            left      : 50%;
            transform : translateX(-50%);
    }

    @if $position == middle {
        position      : absolute;
            top       : 50%;
            left      : 50%;
            transform : translate(-50%, -50%);
    }

    @if $position == vertical-middle {
        position      : absolute;
            top       : 50%;
            transform : translateY(-50%);
    }

}
