/// CSS hack to fix blurry & mis-rendered elements that have been transformed
@mixin no-flicker() {
    backface-visibility : hidden;
    transform           : translate3d(0, 0, 0);
}

/// clear containers with floated elements
@mixin clearfix {

    &::after {
        clear   : both;
        content : "";
        display : table;
    }

}

/// Truncates text and adds an ellipsis to represent overflow.
@mixin ellipses {
    text-overflow : ellipsis;
    white-space   : nowrap;
    overflow      : hidden;
    word-wrap     : normal;
}
