
// Bring in default settings
@import "../../scss/settings";

// ? export default classes
$include-button-component-classes : $include-component-classes !default;

//
// @vars
$button-display     : inline-block                !default;
$button-min-width   : 0                           !default;
$button-margin      : 0 0 15px 0                  !default;
$button-padding     : 15px                        !default;
$button-bx-shadow   : none                        !default;
$button-bdr-style   : 1px solid                   !default;
$button-bdr-color   : $syn-color                  !default;
$button-bdr-rad     : 3px                         !default;
$button-bg          : $syn-color                  !default;
$button-bg-img      : transparent                 !default;
$button-font-family : inherit                     !default;
$button-font-size   : 16px                        !default;
$button-font-color  : $white                      !default;
$button-text-shadow : none                        !default;
$button-transition  : background-color 300ms ease !default;

// @MIXIN
// Normalize button to our base styles
// resets form and anchor styles
@mixin button-normalize {
    background-color   : transparent;
    border-radius      : 0;
    border             : 0;
    line-height        : normal;
    text-decoration    : none;
    cursor             : pointer;
    -webkit-appearance : none;
    -moz-appearance    : none;
}

// @MIXIN
// Add specified button styles
@mixin button-layout(
    $display   : $button-display,
    $min-width : $button-min-width,
    $margin    : $button-margin
) {
    display   : $display;
    min-width : $min-width;
    margin    : $margin;
}

// @MIXIN
// Size button and font
@mixin button-size(
    $padding   : $button-padding,
    $font-size : $button-font-size
) {
    padding   : $padding;
    font-size : $font-size;
}

// @MIXIN
// Add specified button styles
@mixin button-typography(
    $font-family : $button-font-family,
    $font-size   : $button-font-size,
    $font-color  : $button-font-color,
    $text-shadow : $button-text-shadow
) {
    font-family : $font-family;
    font-size   : $font-size;
    color       : $font-color;
    text-shadow : $text-shadow;
}

// @MIXIN
// Add specified button styles
@mixin button-style(
    $box-shadow       : $button-bx-shadow,
    $border-style     : $button-bdr-style,
    $border-color     : $button-bdr-color,
    $border-radius    : $button-bdr-rad,
    $background-color : $button-bg,
    $background-image : $button-bg-img,
    $transition       : $button-transition
) {
    box-shadow        : $box-shadow;
    border            : $border-style;
    border-color      : $border-color;
    border-radius     : $border-radius;
    background-color  : $background-color;
    background-image  : $background-image;
    transition        : $transition;
}

// @MIXIN
// Create a default button component
@mixin button(
    $display          : $button-display,
    $min-width        : $button-min-width,
    $margin           : $button-margin,
    $padding          : $button-padding,
    $box-shadow       : $button-bx-shadow,
    $border-style     : $button-bdr-style,
    $border-color     : $button-bdr-color,
    $border-radius    : $button-bdr-rad,
    $background-color : $button-bg,
    $background-image : $button-bg-img,
    $font-family      : $button-font-family,
    $font-size        : $button-font-size,
    $font-color       : $button-font-color,
    $text-shadow      : $button-text-shadow,
    $transition       : $button-transition
) {

    @include button-normalize;
    @include button-layout(
        $display,
        $min-width,
        $margin
    );
    @include button-size(
        $padding,
        $font-size
    );
    @include button-typography(
        $font-family,
        $font-size,
        $font-color,
        $text-shadow
    );
    @include button-style(
        $box-shadow,
        $border-style,
        $border-color,
        $border-radius,
        $background-color,
        $background-image
    );

}

// *******************************************
// *******************************************

// Button Styles

// *******************************************
// *******************************************

// @Vars
$button-display             : inline-flex;
$button-min-width           : 0;
$button-margin              : rem-calc(0 0 16 0);
$button-padding             : rem-calc(8 16);
$button-bx-shadow           : none;
$button-bdr-style           : 1px solid;
$button-bdr-color           : transparent;
$button-bdr-rad             : rem-calc(4);
$button-bg                  : transparent;
// $button-font-family       : $body-font--semibold;
$button-font-size           : 16px;
$button-font-color          : $white;
$button-text-shadow         : none;
$button-transition          : background-color 250ms ease,
                              box-shadow 250ms ease;
$button--hover-box-shadow   : 0px 1px 5px rgba($gray--500, .3);
$button--hover-shade-amount : 20%;


.button {
    @include button;

    &:hover,
    &:active,
    &:focus {
        box-shadow : $button--hover-box-shadow;
    }

    &--disabled {
        opacity : .8;
        cursor  : not-allowed;
    }
}

// Button display
.button--display--block {
    width : 100%;
}

// direct child of button element
// 1. fix safari not aligning children to center of button width
.button__children {
    flex : 1 0 auto; // 1.
}


// Button sizing
.button--size--xsmall {
    font-size : rem-calc(11);

    @include max-screen($media-medium) {
        font-size : rem-calc(10);
    }
}

.button--size--small {
    font-size : rem-calc(14);

    @include max-screen($media-medium) {
        font-size : rem-calc(12);
    }
}

.button--size--medium {
    font-size : rem-calc(16);

    @include max-screen($media-medium) {
        font-size : rem-calc(14);
    }
}

.button--size--large {
    font-size : rem-calc(18);

    @include max-screen($media-medium) {
        font-size : rem-calc(16);
    }
}

.button--size--xlarge {
    font-size : rem-calc(22);

    @include max-screen($media-medium) {
        font-size : rem-calc(14);
    }
}

// Button colors
// Primary
.button--theme--primary {
    background-color : $primary;
    border-color     : shade($primary, $button--hover-shade-amount);

    .button__children {
        text-shadow : 0px 1px 2px shade($primary, $button--hover-shade-amount);
    }

    &:hover:not(.button--disabled),
    &:active:not(.button--disabled),
    &:focus:not(.button--disabled), {
        background-color : shade($primary, $button--hover-shade-amount);
    }
}

// Secondary
.button--theme--secondary {
    background-color : $secondary;
    border-color     : shade($secondary, $button--hover-shade-amount);

    .button__children {
        text-shadow : 0px 1px 2px shade($secondary, $button--hover-shade-amount);
    }

    &:hover:not(.button--disabled),
    &:active:not(.button--disabled),
    &:focus:not(.button--disabled), {
        background-color : shade($secondary, $button--hover-shade-amount);
    }
}

// Tertiary
.button--theme--tertiary {
    background-color : $tertiary;
    border-color     : shade($tertiary, $button--hover-shade-amount);

    .button__children {
        text-shadow : 0px 1px 2px shade($tertiary, $button--hover-shade-amount);
    }

    &:hover:not(.button--disabled),
    &:active:not(.button--disabled),
    &:focus:not(.button--disabled), {
        background-color : shade($tertiary, $button--hover-shade-amount);
    }
}

// Status Colors
// Success
.button--theme--status--success {
    background-color : $status--success;
    border-color     : shade($status--success, $button--hover-shade-amount);

    .button__children {
        text-shadow : 0px 1px 2px shade($status--success, $button--hover-shade-amount);
    }

    &:hover:not(.button--disabled),
    &:active:not(.button--disabled),
    &:focus:not(.button--disabled), {
        background-color : shade($status--success, $button--hover-shade-amount);
    }
}

// Warning
.button--theme--status--warning {
    background-color : $status--warning;
    border-color     : shade($status--warning, $button--hover-shade-amount);

    .button__children {
        text-shadow : 0px 1px 2px shade($status--warning, $button--hover-shade-amount);
    }

    &:hover:not(.button--disabled),
    &:active:not(.button--disabled),
    &:focus:not(.button--disabled), {
        background-color : shade($status--warning, $button--hover-shade-amount);
    }
}

// Error
.button--theme--status--error {
    background-color : $status--error;
    border-color     : shade($status--error, $button--hover-shade-amount);

    .button__children {
        text-shadow : 0px 1px 2px shade($status--error, $button--hover-shade-amount);
    }

    &:hover:not(.button--disabled),
    &:active:not(.button--disabled),
    &:focus:not(.button--disabled), {
        background-color : shade($status--error, $button--hover-shade-amount);
    }
}

// Info
.button--theme--status--info {
    background-color : $status--info;
    border-color     : shade($status--info, $button--hover-shade-amount);

    .button__children {
        text-shadow : 0px 1px 2px shade($status--info, $button--hover-shade-amount);
    }

    &:hover:not(.button--disabled),
    &:active:not(.button--disabled),
    &:focus:not(.button--disabled), {
        background-color : shade($status--info, $button--hover-shade-amount);
    }
}
