////////////////////////
// Margin
// generation functions
////////////////////////

// @vars
// directional values
$directions            : top right bottom left;
$margin-spacing-buffer : $max-margin-spacing * $margin-spacing-threshhold;

// Margin Function
// Outputs .l--m-x {margin: 2px and all evens through margin: 24px (default)}
@for $i from 0 through $max-margin-spacing {
    $value : (($margin-spacing-buffer / $max-margin-spacing) * $i) * 1;

    .l--m-#{$i * $margin-spacing-threshhold} {
        margin : rem-calc($value) !important;
    }

}

// Single Side Margin Function
// Outputs .l--m-top-x {margin-top: 2px and all evens through margin-top: 24px (default)}
// Outputs .l--m-right-x {margin-right: 2px and all evens through margin-right: 24px (default)}
// Outputs .l--m-bottom-x {margin-bottom: 2px and all evens through margin-bottom: 24px (default)}
// Outputs .l--m-left-x {margin-left: 2px and all evens through margin-left: 24px (default)}
@each $direction in $directions {

    @for $i from 0 through $max-margin-spacing {
        $value : (($margin-spacing-buffer / $max-margin-spacing) * $i) * 1;

        .l--m-#{$direction}-#{$i * $margin-spacing-threshhold} {
            margin-#{$direction} : rem-calc($value) !important;
        }

    }

}

////////////////////////
// Extra helpers
////////////////////////
.l--m-auto {
    margin-right : auto !important;
    margin-left  : auto !important;
}
