////////////////////////
// Padding
// generation functions
////////////////////////

// @vars
// directional values
$directions             : top right bottom left;
$padding-spacing-buffer : $max-padding-spacing * $padding-spacing-threshhold;

// Padding Function
// Outputs .l--p-x {padding: 2px and all evens through padding: 24px (default)}
@for $i from 0 through $max-padding-spacing {
    $value : (($padding-spacing-buffer / $max-padding-spacing) * $i) * 1;

    .l--p-#{$i * $padding-spacing-threshhold} {
        padding : rem-calc($value) !important;
    }

}

// Single Side Padding Function
// Outputs .l--p-top-x {padding-top: 2px and all evens through padding-top: 24px (default)}
// Outputs .l--p-right-x {padding-right: 2px and all evens through padding-right: 24px (default)}
// Outputs .l--p-bottom-x {padding-bottom: 2px and all evens through padding-bottom: 24px (default)}
// Outputs .l--p-left-x {padding-left: 2px and all evens through padding-left: 24px (default)}
@each $direction in $directions {

    @for $i from 0 through $max-padding-spacing {
        $value : (($padding-spacing-buffer / $max-padding-spacing) * $i) * 1;

        .l--p-#{$direction}-#{$i * $padding-spacing-threshhold} {
            padding-#{$direction} : rem-calc($value) !important;
        }

    }

}
