
// Bring in default settings
@import "../../scss/settings";

// ? export default classes
$include-alert-component-classes : $include-component-classes !default;

//
// @vars
$alert-position    : relative                    !default;
$alert-display     : inline-block                !default;
$alert-max-width   : none                        !default;
$alert-margin      : rem-calc(0 0 15 0)          !default;
$alert-padding     : rem-calc(15)                !default;
$alert-bx-shadow   : none                        !default;
$alert-bdr-style   : 1px solid                   !default;
$alert-bdr-color   : $primary                  !default;
$alert-bdr-rad     : rem-calc(3)                 !default;
$alert-bg          : $primary                  !default;
$alert-bg-img      : transparent                 !default;
$alert-font-family : inherit                     !default;
$alert-font-size   : rem-calc(16)                !default;
$alert-font-color  : $white                      !default;
$alert-text-shadow : none                        !default;
$alert-transition  : background-color 300ms ease !default;

// dismiss element
$alert-dismiss-font-size      : rem-calc(21)       !default;
$alert-dismiss-text-shadow    : $alert-text-shadow !default;
$alert-dismiss-right-position : rem-calc(15)       !default;

// @MIXIN
// Normalize alert element to
// block level and add iOS click fix
@mixin alert-normalize {
    display : block;
    cursor  : pointer;
}

// @MIXIN
// Add specified alert styles
@mixin alert-layout(
    $position  : $alert-position,
    $max-width : $alert-max-width,
    $margin    : $alert-margin
) {
    position  : $position;
    max-width : $max-width;
    margin    : $margin;
}

// @MIXIN
// Size alert and font
@mixin alert-size(
    $padding   : $alert-padding,
    $font-size : $alert-font-size
) {
    padding   : $padding;
    font-size : $font-size;
}

// @MIXIN
// Add specified alert styles
@mixin alert-typography(
    $font-family : $alert-font-family,
    $font-color  : $alert-font-color,
    $text-shadow : $alert-text-shadow
) {
    font-family : $font-family;
    color       : $font-color;
    text-shadow : $text-shadow;
}

// @MIXIN
// Add specified alert styles
@mixin alert-style(
    $box-shadow       : $alert-bx-shadow,
    $border-style     : $alert-bdr-style,
    $border-color     : $alert-bdr-color,
    $border-radius    : $alert-bdr-rad,
    $background-color : $alert-bg,
    $background-image : $alert-bg-img,
    $transition       : $alert-transition
) {
    box-shadow        : $box-shadow;
    border            : $border-style;
    border-color      : $border-color;
    border-radius     : $border-radius;
    background-color  : $background-color;
    background-image  : $background-image;
    transition        : $transition;
}

@mixin alert(
    $position         : $alert-position,
    $max-width        : $alert-max-width,
    $margin           : $alert-margin,
    $padding          : $alert-padding,
    $box-shadow       : $alert-bx-shadow,
    $border-style     : $alert-bdr-style,
    $border-color     : $alert-bdr-color,
    $border-radius    : $alert-bdr-rad,
    $background-color : $alert-bg,
    $background-image : $alert-bg-img,
    $transition       : $alert-transition,
    $font-family      : $alert-font-family,
    $font-size        : $alert-font-size,
    $font-color       : $alert-font-color,
    $text-shadow      : $alert-text-shadow
) {
    @include alert-normalize;
    @include alert-layout(
        $position,
        $max-width,
        $margin
    );
    @include alert-size(
        $padding,
        $font-size
    );
    @include alert-typography(
        $font-family,
        $font-color,
        $text-shadow
    );
    @include alert-style(
        $box-shadow,
        $border-style,
        $border-color,
        $border-radius,
        $background-color,
        $background-image
    );
}

.alert {
    @include alert;
}

.alert__dismiss {
    position      : absolute;
        top       : 50%;
        right     : $alert-dismiss-right-position;
        transform : translateY(-50%);
    font-size     : $alert-dismiss-font-size;
    text-shadow   : $alert-dismiss-text-shadow;
}

// status-types
.alert--info {
    background-color : $status--info;
}

.alert--success {
    background-color : $status--success;
}

.alert--warning {
    background-color : $status--warning;
}

.alert--error {
    background-color : $status--error;
}
