// Bring in default settings
@import "../../scss/settings";

$switch-color--default : tint($black, 50%)  !default;
$switch-color--on      : $syn-color         !default;
$switch-color--off     : #D94444            !default;
$switch-border-size    : 1px                !default;
$switch-border-color   : tint($black, 50%)  !default;

.switch__container {
    border  : 1px solid #ddd;
    width   : rem-calc(200);
    padding : rem-calc(5);
}

.switch {
    position      : relative;
    width         : rem-calc(60);
    left          : 50%;
    margin-left   : rem-calc(-30);
    margin-bottom : rem-calc(20);
    user-select   : none;

    input[type="checkbox"]+label {
        margin : 0;
    }

    .switch__checkbox {
        display : none;
    }

    .switch__label {
        display       : block;
        overflow      : hidden;
        cursor        : pointer;
        border-radius : rem-calc(35);
        border        : $switch-border-size solid $switch-border-color;
    }

    .switch__inner {
        display     : block;
        width       : 200%;
        margin-left : -100%;
        transition  : all 200ms ease-in-out 0s;
    }

    .switch__inner:before,
    .switch__inner:after {
        display     : block;
        float       : left;
        width       : 50%;
        height      : rem-calc(27);
        padding     : 0;
        line-height : rem-calc(27);
        font-size   : rem-calc(18);
        color       : $white;
    }

    .switch__inner:before {
        content          : attr(data-content-on);
        padding-left     : rem-calc(8);
        background-color : $switch-color--on;
        box-shadow       : -1px 0 1px $switch-color--default,
                           inset 0 1px 2px shade($switch-color--on, 30%),
                           inset 0 -1px 2px tint($switch-color--on, 70%);
        border-radius    : rem-calc(40 0 0 40);
        color            : $white;
    }

    .switch__inner:after {
        content          : attr(data-content-off);
        padding-right    : rem-calc(12);
        background-color : $switch-color--off;
        box-shadow       : 1px 0 1px $switch-color--default,
                           inset 0 1px 2px shade($switch-color--off, 50%),
                           inset 0 -1px 2px tint($switch-color--off, 50%);
        border-radius    : rem-calc(0 40 40 0);
        color            : $white;
        text-align       : right;
    }

    .switch__toggle {
        display       : block;
        width         : rem-calc(25);
        height        : rem-calc(25);
        background    : $white;
        box-shadow    : 1px 0 1px rgba($switch-color--default, .1),
                        inset 0 -1px 2px rgba($switch-color--default, .3),
                        inset 0 -10px 10px shade($white, 10%);
        border-radius : 50%;
        position      : absolute;
        top           : rem-calc($switch-border-size);
        right         : rem-calc(33);
        transition    : all 200ms ease-in-out 0s;
    }

    .switch__checkbox:checked + .switch__label .switch__inner {
        margin-left : 0;
    }

    .switch__checkbox:checked + .switch__label .switch__toggle {
        right : rem-calc($switch-border-size);
    }

}
