// Bring in default settings
@import "../../scss/settings";

$switch-color--default   : tint($black, 50%)  !default;
$switch-color--on        : $syn-color         !default;
$switch-color--off       : #D94444            !default;
$switch-border-size      : 1px                !default;
$switch-border-color     : transparent        !default;
$switch-border-radius    : rem-calc(35);
$switch-inner-font-size  : rem-calc(12);
$switch-inner-font-color : $white;
$switch-toggle-size      : rem-calc(30);
$switch-toggle-offset    : rem-calc(29);
$switch-margin           : rem-calc(0 0 20 -30);

@mixin switch(
    $margin    : $switch-margin
) {
    position      : relative;
    left          : 50%;
    user-select   : none;
    width         : $switch-toggle-size * 2;
    margin        : $switch-margin;
}

@mixin switch-label(
    $border-radius : $switch-border-radius
) {
    display       : block;
    overflow      : hidden;
    cursor        : pointer;
    border-radius : $border-radius;
    border        : $switch-border-size solid $switch-border-color;
}

// Build default switch component
.switch {
    @include switch;

    input[type="checkbox"]+label {
        margin : 0;
    }

}

.switch__checkbox {
    display : none;

    &:checked {
        + .switch__label .switch__inner {
            margin-left : 0;
        }

        + .switch__label .switch__toggle {
            right : rem-calc($switch-border-size);
        }

    }

}

.switch__label {
    @include switch-label;
}

.switch__inner {
    display     : block;
    width       : 200%;
    margin-left : -100%;
    transition  : all 200ms ease-in-out 0s;

    &:before,
    &:after {
        display     : block;
        float       : left;
        width       : 50%;
        height      : $switch-toggle-size;
        padding     : 0;
        line-height : $switch-toggle-size;
        font-size   : $switch-inner-font-size;
        color       : $white;
    }

    &:before {
        content          : attr(data-content-on);
        padding-left     : rem-calc(8);
        border-radius    : rem-calc(40 0 0 40);
        background-color : $switch-color--on;
        color            : $switch-inner-font-color;
    }

    &:after {
        content          : attr(data-content-off);
        padding-right    : rem-calc(12);
        border-radius    : rem-calc(0 40 40 0);
        background-color : $switch-color--off;
        color            : $switch-inner-font-color;
        text-align       : right;
    }

}

.switch__toggle {
    display       : block;
    position      : absolute;
        top       : rem-calc($switch-border-size);
        right     : $switch-toggle-offset;
    width         : $switch-toggle-size;
    height        : $switch-toggle-size;
    background    : $white;
    border-radius : 50%;
    transition    : all 200ms ease-in-out 0s;
}
