// Bring in default settings
@import "../../../scss/settings";

// ? export default classes
$include-form-input-component-classes : $include-component-classes !default;

//
// @vars
// default input
$form-input-display       : block                         !default;
$form-input-width         : 100%                          !default;
$form-input-height        : 45px                          !default;
$form-input-margin        : 0 0 15px                      !default;
$form-input-padding       : 15px                          !default;
$form-input-bx-shadow     : none                          !default;
$form-input-border-style  : 1px solid                     !default;
$form-input-border-color  : tint($black, 70%)             !default;
$form-input-border-radius : 2px                           !default;
$form-input-bg            : $white                        !default;
$form-input-bg-img        : none                          !default;
$form-input-font-family   : 'Helvetica Neue', 'Helvetica' !default;
$form-input-font-size     : 16px                          !default;
$form-input-line-height   : 1                             !default;
$form-input-font-color    : tint($black, 50%)             !default;
$form-input-text-shadow   : none                          !default;

// placeholder
$form-input-placeholder-font-family : $form-input-font-family !default;
$form-input-placeholder-font-size   : $form-input-font-size   !default;
$form-input-placeholder-line-height : $form-input-line-height !default;
$form-input-placeholder-font-color  : tint($black, 85%)       !default;
$form-input-placeholder-text-shadow : $form-input-text-shadow !default;

// disabled
$form-input-disabled-style        : 1px solid         !default;
$form-input-disabled-border-color : tint($black, 80%) !default;
$form-input-disabled-bg           : tint($white, 10%) !default;
$form-input-disabled-bg-img       : none              !default;
$form-input-disabled-cursor       : not-allowed       !default;
$form-input-disabled-font-color   : tint($black, 90%) !default;

// @MIXIN
// Normalize inputs
@mixin form-input-normalize {
    -webkit-appearance : none;
    -moz-appearance    : none;
}

// @MIXIN
// Add layout styles
@mixin form-input-layout(
    $display : $form-input-display,
    $margin  : $form-input-margin
) {
    display : $display;
    margin  : $margin;
}

// @MIXIN
// Size of input
@mixin form-input-size(
    $width   : $form-input-width,
    $height  : $form-input-height,
    $padding : $form-input-padding
) {
    width   : $width;
    height  : $height;
    padding : $padding;
}


// @MIXIN
// Input typography
@mixin form-input-typography(
    $font-family : $form-input-font-family,
    $font-size   : $form-input-font-size,
    $line-height : $form-input-line-height,
    $font-color  : $form-input-font-color,
    $text-shadow : $form-input-text-shadow
) {
    font-family : $font-family;
    font-size   : $font-size;
    line-height : $line-height;
    color       : $font-color;
    text-shadow : $text-shadow;
}

// @MIXIN
// Add specified input styles
@mixin form-input-style(
    $box-shadow       : $form-input-bx-shadow,
    $border-style     : $form-input-border-style,
    $border-color     : $form-input-border-color,
    $border-radius    : $form-input-border-radius,
    $background-color : $form-input-bg,
    $background-image : $form-input-bg-img
) {
    box-shadow       : $box-shadow;
    border           : $border-style;
    border-color     : $border-color;
    background-color : $form-input-bg;
    border-radius    : $border-radius;
    background-image : $form-input-bg-img;
}

// @MIXIN
// Create a default button component
@mixin form-input(
    $display          : $form-input-display,
    $width            : $form-input-width,
    $height           : $form-input-height,
    $margin           : $form-input-margin,
    $padding          : $form-input-padding,
    $box-shadow       : $form-input-bx-shadow,
    $border-style     : $form-input-border-style,
    $border-color     : $form-input-border-color,
    $border-radius    : $form-input-border-radius,
    $background-color : $form-input-bg,
    $background-image : $form-input-bg-img,
    $font-family      : $form-input-font-family,
    $font-size        : $form-input-font-size,
    $line-height      : $form-input-line-height,
    $font-color       : $form-input-font-color,
    $text-shadow      : $form-input-text-shadow
) {
    @include form-input-normalize;
    @include form-input-layout(
        $display,
        $margin
    );
    @include form-input-size(
        $width,
        $height,
        $padding
    );
    @include form-input-typography(
        $font-family,
        $font-size,
        $line-height,
        $font-color,
        $text-shadow
    );
    @include form-input-style(
        $box-shadow,
        $border-style,
        $border-color,
        $border-radius,
        $background-color,
        $background-image
    );
}

// export these default classes
// if set to true
// check synfrastructure settings
@if $include-form-input-component-classes {

    .input {
        @include form-input;

        // placeholder styles
        @include placeholder {
            @include form-input-typography(
                $font-family : $form-input-placeholder-font-family,
                $font-size   : $form-input-placeholder-font-size,
                $line-height : $form-input-placeholder-line-height,
                $font-color  : $form-input-placeholder-font-color,
                $text-shadow : $form-input-placeholder-text-shadow
            );
        }

        // focus styles
        &:focus {
            outline : none;
        }

        // disabled field styles
        &:disabled {
            border           : $form-input-disabled-style;
            border-color     : $form-input-disabled-border-color;
            background-color : $form-input-disabled-bg;
            background-image : $form-input-disabled-bg-img;
            cursor           : $form-input-disabled-cursor;
            @include form-input-typography(
                $font-color : $form-input-disabled-font-color
            );
        }

    }

}
